
@font-face { font-family: 'TradeGothic', sans-serif; src: url('../fonts/tradegothic.ttf'); } 

html {
	height: 100%;
}
html, body {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #666;
	position: relative;
	text-align: center;
	background: #ededed;
	margin: 0;
	padding: 0;
	min-height: 100%;
	overflow-y: scroll;
	
}
	body.roche {
		background-color: #CCC;
		background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
		background-size: 4px 4px;
	}

img {
	border: none;
}

input {
	border-radius: 7px;
	border: none;
	padding: 6px;
}

a {
	color: #666;
	text-decoration: none;
}

strong {
	font-weight: bold;
}

h1, h2, h3, h4 {
	font-family: 'TradeGothic', sans-serif;
	font-weight: 300;
	margin: 0px;
}

/*COMMON*/

.blur {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
}
.top-bar-btn {
	color: #FFF;
}

	.top-bar-btn.disabled {
		background: url('../img/common/top-bar-bg-disabled.png');
		color: #656565;
	}


.top-nav-btn {
	line-height: 25px;
	height: 25px;
	border-radius: 0px;
	background: #FFF;
	color: #062b52;
}

.clear {
	background: url('../img/common/clear.png') no-repeat;
	width: 17px;
	height: 17px;
	border: 1px solid #CCC;
	border-radius: 20px;
	background-position: 2px 2px;
	-webkit-box-shadow: 0px 0px 5px #CCC;
	-moz-box-shadow: 0px 0px 5px #CCC;
	box-shadow: 0px 0px 5px #CCC;
}

.install-button {
	font-family: 'TradeGothic', sans-serif, Arial;
	display: inline-block;
	background: #75af3e;
	color: #FFF;
	padding: 0px;
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 16px;
	width: 100px;
	line-height: 30px;
	height: 30px;
}

.install-button:hover {
	background: #5f962a;
}

.update-button {
	background: url('../img/common/button-update-bg.png');
	text-shadow: #6a6c6d 0 -1px 0;
}

.reinstall-button {
	background: url('../img/common/button_bg.png');
	text-shadow: #3C3D3E 0 -1px 0;
}

.updates-btn {
		position: absolute;
		top: 12px;
		right: 0px;
		font-weight: bold;
		text-align: left;
		padding-left: 12px;
		padding-right: 42px;
		cursor: pointer;

	}
.updates-btn.disabled {
	cursor: auto;
}

		#updates .updates-btn {
			padding-right: 12px;
			right: 12px;
			top: 4px;
			width: 80px;
			text-align: center;
			display: inline-block;
		}

		.updates-btn > div {
			position: absolute;
			display: block;
			right: 1px;
			top: 3px;
			border-left: 1px solid #293E65 ;
			width: 30px;
			height: 25px;
			text-align: center;
			background: url('../img/common/updates-ico.png') no-repeat;
			background-position: 4px 1px;
			padding-left: 1px;
			line-height: 25px;
		}

		.updates-btn.disabled > div {
			border-left: 1px solid #293e65;
			background: url('../img/common/updates-ico-disabled.png') no-repeat;
			background-position: 4px 1px;
		}

.loader {
	overflow: hidden;
	width: 100%;
}

	.loader > .wrapper {
		height: 300px;
		width: 100%;
		text-align: center;
		background: #FFF;
		opacity: 0.6;

	}

	.loader > .wrapper > .box {
		display: inline-block;
		margin-top: 90px;
	}
		.loader > .wrapper > .box > p {
			display: block;
			margin-bottom: 15px;
			font-size: 18px;
			font-style: italic;
			margin-left: 15px;
		}

.search-results {
	position: absolute;
	z-index: 9999;
	top: 2px;
	left: 600px;
	display: none;
}

	.search-results > .tick {
		position: absolute;
		top: 10px;
		left: 180px;
		width: 25px;
		overflow: hidden;
		height: 30px;
	}
	.search-results > .tick > .bground {
		border-color: transparent transparent #000000 transparent ;
		border-style: solid;
		border-width: 15px;
		height:0;
		width:0;
		position:absolute;
		top:0px;
		left:-3px;
		z-index: 999999;
	}
		.search-results > .tick .border {
			border-color: transparent transparent #3c3c3c transparent  ;
			border-style: solid;
			border-width: 13px;
			height:0;
			width:0;
			position:absolute;
			top: -11px;
			left: -13px;
		}
		.search-results > .tick .inner {
			border-color: transparent transparent #3c3c3c transparent  ;
			border-style: solid;
			border-width: 12px;
			height:0;
			width:0;
			position:absolute;
			top: -9px;
			left: -12px;

		}

	.search-results > .wrapper {
		width: 330px;
		background: #000;
		position: absolute;
		top: 37px;
		padding: 2px;
		border-radius: 12px;
		overflow: hidden;

	}

		.search-results > .wrapper > .inner {
			background: #3c3c3c;
			height: 350px;
			border-radius: 10px;
			padding: 0px 6px 6px 6px;
		}

			.search-results > .wrapper > .inner > h2 {
				text-align: center;
				color: #FFF;
				font-size: 18px;
				font-weight: bold;
				line-height: 36px;
				text-shadow: -1px 1px 1px #000;
			}

			.search-results > .wrapper > .inner > .scrollable {
				margin-left: 0px;
				background: #FFF;
				width: 100%;
				height: 308px;
				border-radius: 6px;
				-webkit-box-shadow: inset 0px 3px 3px #AAA;
				-moz-box-shadow: inset 0px 3px 3px #AAA;
				box-shadow: inset 0px 3px 3px #AAA;
				overflow-y: scroll;
			}

				.search-results .results {
					overflow: hidden;
				}

					.search-results .results > li {
						display: block;
						padding: 10px;
						border-bottom: 1px solid #bbbbbb;
					}

						.search-results .results > li > img {
							width: 25px;
							height: 25px;
							float: left;
							margin-right: 10px;
						}

						.search-results .results > li > h3 {
							line-height: 25px;
							font-size: 16px;
							font-weight: bold;

						}


/* overlay */

.overlay {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 999;
	background: rgba(0,0,0,.5);
	min-height: 1000px;
	text-align: center;
}

	.overlay .screen {
		position: absolute;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}
	
	.overlay .box-wrapper {
		width: 920px;
		position: relative;
		top: 100px;
		display: inline-block;
		text-align: center;
	}
	.overlay .box {
		position: relative;
		display: inline-block;
		background: #FFF;
		z-index: 9999;
		text-align: left;
		max-width: 1000px;
		width: 920px;
		margin-bottom: 30px;
		box-shadow: 10px 10px 10px #444;
	}

		.overlay .box a {
			
		}
		.overlay .box .footer {
			border-top: 1px solid #EEE;
			line-height: 12px;
			text-align: right;
			clear: both;
		}

			.overlay .box .footer a {
				display: inline-block;
				width: 100px;
				height: 40px;
				line-height: 40px;
				background: #c4270d;
				text-align: center;
				color: #FFF;
				font-family: 'TradeGothic', sans-serif;
				font-size: 15px;
				margin-top: 10px;
				cursor: pointer;

			}

			.overlay .box .footer a:hover {
				background: #d74932;
			}

		.overlay .box .content {
			padding: 10px;
		}
		

			.overlay h2 {
				height: 50px;
				line-height: 50px;
				background: #193e63;
				color: #FFF;
				font-size: 32px;
				padding-left: 10px;
				padding-right: 10px;
				font-weight: 300;
			}

			.overlay .instructions {
				text-align: center;
			}

			.overlay .instructions form {
				text-align: left;
			}

			.overlay .instructions h3 {
				display: -webkit-box;
				-webkit-box-orient: horizontal;
				-webkit-box-align: center;
				color: #193e63;
			}

			.overlay .instructions h3 > * {
				display: block;
				text-align: left;
			}

			.overlay .instructions h3 span {
				font-size: 60px;
				width: 60px;
				-webkit-box-flex: 1;
			}

			.overlay .instructions h3 p {
				padding-left: 0px;
				font-size: 18px;
				-webkit-box-flex: 10;
			}

			.overlay .instructions input {
				background: #dfdfdf;
				border-radius: 0;
				width: 750px;
				display: inline-block;
				color: #3b3b3b;
				margin-left: 70px;
			}

			.overlay .instructions img {
				margin: 30px 0;	
				box-shadow: 1px 1px 1px #AFAFAF;
			}

			.overlay .instructions h4 {
				display: inline-block;
				padding-left: 70px;
				margin: 3px 0;
				font-size: 1.3em;
				width: 200px;
			}

			.overlay .instructions a {
				display: inline-block;
				background: #C4270D;
				padding: 4px;
				color: #FFF;
				cursor: pointer;
			}

				.overlay .instructions a:hover {
					background: #d74932;
				}

			.overlay .option {
				float: left;
				width: 49.9%;
				text-align: center;
				margin-bottom: 15px;
				padding-bottom: 50px;
			}

				.overlay .option:first-of-type {
					border-right: 1px solid #eee;
				}

				.overlay .option h3 {
					font-weight: 300;
					padding: 50px 0px;
					font-size: 25px;
					color: #193e63;
				}

				.overlay .option .install-button {
					width: 210px;
					height: 54px;
					line-height: 54px;
				}
/*LAYOUT COMMON*/

.roche #store-header {
	background: #FFF;
}
#store-header {
	width: 100%;
	background: #195695;
	height: 77px;
	clear: both;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
}

	#store-header a {
		cursor: pointer;
	}

	.appdetails #store-header {
		
	}

	#store-header .wrapper {
		display: inline-block;
		width: 100%;
		position: relative;
		width: 1000px
	}

		.roche.home #store-header .wrapper {
			background: url('../img/common/head-roche-logo.png') no-repeat;
			background-position: 900px 20px;
		}

		.gene.home #store-header .wrapper {
			background: url('../img/common/head-gene-logo.png') no-repeat;
			background-position: 0px 21px;
		}

	#store-header h1 {
		display: inline-block;
		text-overflow: ellipsis;
		max-width: 600px;
		overflow: hidden;
		font-size: 18px;
		color: #FFF;
	}
	#store-header h1.logo {
		background: url('../img/common/img-app-store-logo.png') no-repeat;
		width: 245px;
		height: 56px;
		margin-top: 13px;

	}

		.roche #store-header h1.logo {
			background: url('../img/common/img-roche-app-store-logo.png') no-repeat;
			width: 245px;
			height: 56px;
			margin-top: 13px;
		}

		#store-header h1 > span {
			line-height: 22px;
			font-weight: bold;
			word-wrap: normal;
			white-space: nowrap;
			line-height: 40px;
			height: 40px;
		}
	
	#store-header .btn-home {
		position: absolute;
		left: 15px;
		top: 23px;
		height: 30px;
		background: white;
		color: #195695;
		font-size: 12px;
		line-height: 30px;
		padding: 0 10px;
		cursor: pointer;
	}

		.roche #store-header .btn-home {
			background: #096cce;
			color: #FFF;
		}

	#store-header .btn-home:hover {
		background: #e7e7e7;
	}

		.roche #store-header .btn-home:hover {
			background: #1c60a4;
		}	

		#store-header .btn-home:hover:before {
			border-right: 15px solid #e7e7e7;
		}

			.roche #store-header .btn-home:hover:before {
				border-right: 15px solid #1c60a4;
			}
		#store-header .btn-home:before {
			width: 0;
			height: 0;
			border-top: 15px solid transparent;
			border-bottom: 15px solid transparent;
			border-right: 15px solid white;
			position: absolute;
			top: 0;
			left: -15px;
			content: "";
		}

		.roche #store-header .btn-home:before {
			border-top: 15px solid transparent;
			border-bottom: 15px solid transparent;
			border-right: 15px solid #096cce;
		}

		#store-header .btn-home div {
			width: 25px;
			height: 21px;
			position: absolute;
			left: 5px;
			top: 5px;
		}

	body.home #store-header .btn-home {
		display: none;

	}

	#store-header .search-button {
		display: none;
	}

	#store-header form {
		display: none;
	}

	#store-header .updates-btn {
		padding-top: 2px;
	}

#page-wrapper {
	display: inline-block;
	text-align: left;
	width: 1000px;
	min-height: 615px;
	overflow: hidden;
	
}

#page-wrapper .slider {
	position: static;
	margin: 0;
	width: 1000px;
}

.page {
	display: block;
	text-align: left;
	width: 1000px;

	position: static;
	left: 0;
	-webkit-backface-visibility: hidden;
	/*-webkit-perspective: 1000;*/
}

.page.slide {
	position: absolute;
	top: 0;
	left: 0;
}

	#banners {
		width: 100%;
		overflow: hidden;
		margin-bottom: 13px;
		padding-bottom: 2px;
		padding-top: 10px;
	}

		#banners .markers {
			display: none;
		}
		#banners > * {
			display: block;
			float: left;
		}
		#banners a {
			display: block;
		}
		#large-banner {
			overflow: hidden;
			position: relative;
			width: 688px;
			height: 220px;
			margin-right: 14px;
			box-shadow: 1px 1px 1px #AFAFAF;
		}
		.iphone #large-banner {
			height: 95px;
		}
		#large-banner a {
			position: absolute;
			left: 0;
			top: 0;

			opacity: 0;
			display: none;

			-moz-transition: opacity 1.5s ease;
			-webkit-transition: opacity 1.5s ease;
			-ms-transition: opacity 1.5s ease;
			-o-transition: opacity 1.5s ease;
			transition: opacity 1.5s ease;
		}

			#large-banner img {
				width: 688px;
				height: 220px;

			}
		#side-banner {
			overflow: hidden;
			border-radius: 0px;
		}

			#side-banner img {
				width: 298px;
				margin-bottom: 8px;
				
			}

				#side-banner img {
					display: block;
				}
	.apps-showroom {
		width: 100%;
		clear: both;
		margin-bottom: 20px;
		position: static;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		overflow: hidden;
		
	}

		.apps-showroom.list .nav-button, .apps-showroom.list #markers {
			display: none;
		}

		.apps-showroom .apps-nav-bar {
			width: 100%;
			background: #195695;
			height: 36px;
			clear: both;
			overflow: hidden;
			position: relative;
		}

			.apps-showroom .apps-nav-bar h2 {
				line-height: 36px;
				height: 36px;
				color: #FFF;
				padding: 0px 16px;
				font-weight: bold;

			}

			.top-nav {
				border-radius: 0px;
			}

				#apps-sort-fake {
					position: absolute;
					left: 6px;
					top: 5px;
					width: 160px;
					padding: 0px 0 0px 10px;
					font-weight: bold;
				}

					#apps-sort-fake .arrow {
						position: absolute;
						top: 10px;
						right: 6px;
						width: 10px;
						height: 7px;
						background: url('../img/common/icon-category-arrow.png') no-repeat;
					}
					#apps-sort {
						position: absolute;
						top: 0px;
						left: 0px;
						opacity: 0;
						filter: alpha(opacity=0);
					}

						#apps-sort select {
							width: 170px;
							height: 27px;
						}

				#apps-search {
					position: absolute;
					right: 6px;
					top: 6px;
				}

					#apps-search input {
						padding: 0px;
						padding-left: 30px;
						padding-right: 30px;
						width: 130px;
						border: none;
						line-height: normal;
					}

					#apps-search .ico {
						position: absolute;
						top: 6px;
						left: 10px;
						width: 13px;
						height: 12px;
						background: url('../img/common/icon-search.png');

					}

					#apps-search .clear-wrapper {
						position: absolute;
						width: 28px;
						height: 28px;
						top: 0px;
						right: 0px;
						border-radius: 28px;
					}
					#apps-search .clear {
						display: block;
						position: absolute;
						top: 4px;
						right: 6px;
					}

					#apps-search .install-button {
						display: none;
					}

			.apps-showroom  .bottom-nav {
				border-radius: 0px;
				background: none;
				text-align: center;
			}

				.arrows {
					position: absolute;
					width: 1000px;
				}
				.arrows > a {
					position: absolute;
					top: 65px;
					display: block; 
					font-size: 0px; 
					line-height: 0%; 
					width: 0px; 
					border-top: 105px solid transparent; 
					border-bottom: 105px solid transparent;
					-webkit-transition: border-color .2s ease-in;
					cursor: pointer;
				}

				.arrows > a.disabled {
					display: none;
				}

					
				.arrows .prev-arrow {
					left: -50px;
					border-right: 34px solid #dcdcdc; 
				}

					.arrows .prev-arrow:hover {
						border-right: 34px solid #bfbfbf; 
					}
				.arrows .next-arrow {
					right: -50px;
					border-left: 34px solid #dcdcdc; 
				}

					.arrows .next-arrow:hover {
						border-left: 34px solid #bfbfbf; 
					}

				.apps-showroom .bottom-nav .wrapper {
					width: auto;
					display: inline-block;
					position: relative;
				}

				.apps-showroom .bottom-nav #markers {
					width: auto;
				}

				.apps-showroom .nav-button {
					position: absolute;
					display: block;
					height: 25px;
					width: 25px;
					cursor: pointer;
				}

				.apps-showroom .left-nav-button {
					top:0px;
					left: 0px;
					background: url('../img/common/arrow-left.png') no-repeat;
					background-position: center;
				}

				.apps-showroom .right-nav-button {
					top: 0px;
					right: 0px;
					background: url('../img/common/arrow-right.png') no-repeat;
					background-position: center;
				}

				.apps-showroom .bottom-nav .left-nav-button {
					left: -25px;
					background-image: url('../img/common/arrow-bottom-left.png');
				}

				.apps-showroom .bottom-nav .right-nav-button {
					right: -25px;
					background-image: url('../img/common/arrow-bottom-right.png');
				}

					.roche .apps-showroom .bottom-nav .left-nav-button {
						background-image: url('../img/common/roche-arrow-bottom-left.png');
					}

					.roche .apps-showroom .bottom-nav .right-nav-button {
						background-image: url('../img/common/roche-arrow-bottom-right.png');
					}

				.apps-showroom .nav-button.disabled {
					background-image: none;
				}

				#markers {
					text-align: center;
					margin-top: 5px;
				}

					#markers a {
						background: #FFF;
						display: inline-block;
						width: 10px;
						height: 10px;
						margin: 0px 4px 0px;
						cursor: pointer;
					}

					#markers a.active {
						background: #195695;

					}

				#apps-slider {
					display: inline-block;
					width: 440px;
					text-align: center;
					margin-left: 60px;
					position: relative;
					text-align: center;
				}

					#apps-slider .path {
						width:100%;
						height: 7px;
						display: inline-block;
						background: #333;
						margin-top: 14px;
						box-shadow: inset 0px 0px 6px #000;
						-webkit-box-shadow: inset 0px 0px 6px #000;
						-moz-box-shadow: inset 0px 0px 6px #000;
						border-radius: 3px;
					}

					#apps-slider .handle-wrapper {
						position: absolute;
						top: 4px;
						left: 5px;
						width: 830px;
					}
					#apps-slider .handle {
						width: 40px;
						height: 25px;
						background: #444;
						position: absolute;
						top: 0px;
						left: 140px;
						border-radius: 4px;
						box-shadow: inset 0px 0px 1px #FFF;
						-webkit-box-shadow: inset 0px 0px 1px #FFF;
						-moz-box-shadow: inset 0px 0px 1px #FFF;
						border: 1px solid #222;

					}

		.apps-wrapper {
			display: block;
			width: 100%;
			padding: 8px 0px 0px 0px;
		}

		.grid .apps-wrapper {
			position: relative;
			height: 288px;
		}

		.list .apps-wrapper {
			height: auto;
		}
		.grid .apps {
			top: 0px;
			left: 0px;
			position: absolute;
			height: 288px;
			width: 1920px;
			padding: 0px;
			margin: 8px 0px;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

			.list .apps > li {
				display: block;
				position: relative;
				padding: 25px 10px 25px 15px;
				border-bottom: 1px solid #A8A8A8;
			}
			.grid .apps > li {
				display: block;
				float: left;
				background: #FFF;
				width: 292px;
				height: 98px;
				border: none;
				padding: 18px;
				position: relative;
				-webkit-tap-highlight-color: rgba(200,200,200,0.3);
				cursor: pointer;
				margin: 0px 8px 8px 0px;
				box-shadow: 1px 1px 1px #AFAFAF;
				-webkit-transition: background .2s linear;
			}

				.grid .apps > li:hover {
					box-shadow: 1px 1px 1px #ccc;
					background: #f4f4f4;
				}

				.apps > li .img-wrap {
					float: left;
					width: 97px;
					height: 97px;
					overflow: hidden;
				}

					.apps > li .img-wrap img {
						width: 97px;
						height: 97px;
					}

				.apps > li .content {
					margin-left: 110px;
				}

					.apps > li .content > h3 {
						max-width: 190px;
						width: auto;
						height: 36px;
						overflow: hidden;
						text-overflow: ellipsis;
						margin: 0px;
						font-size: 21px;
						color: #062b52;
						white-space: nowrap;
					}

						.apps > li .content > h3 a {
							line-height: 22px;
							word-wrap: normal;
							white-space: nowrap;
						}

					.apps > li .content > p {
						font-size: 12px;
						color: #062b52;
						height: 3em;
						margin-top: 2px;
					}

					.apps > li .content > p {
						font-size: 12px;
						line-height: 17px;
					}

				.apps > li .install-button {
					position: absolute;
					bottom: 8px;
					right: 8px;
				}

				.geneonly-text {
					color: white;
					background: #C03838;
				}
				.apps > li .geneonly-text {
					position: absolute;
					top: .3em;
					right: 8px;
					padding: .1em .3em;
					font-size: .9em;
				}

	 .page .aside {
		display: inline-block;
		width: 260px;
		text-align: center;
	}

		.page > h2 {
			font-size: 41px;
			color: #195695;
			margin-bottom: 0px;
			margin-left: 0px;
		}

		.page > p {
			color: #195695;
			margin-bottom: 20px;
			margin-top: 5px;
		}

		.page .aside .img-wrap {
			display: inline-block;
			width: 100%;
		}

			.page .aside .img-wrap img {
				width: 100%;
				margin-bottom: 14px;
			}
		.page .aside .geneonly-text {
			padding: .3em;
		}
		.page .aside .install-button {
			width: 100%;
			height: 60px;
			line-height: 60px;
		}

		.page .aside .app-info {
			text-align: left;
			padding: 0px;
		}

		.page .aside .app-info ul {
			padding: 5px 0px;
		}

		.page .aside .app-info li {
			line-height: 14px;
			display: block;
			margin-bottom: 10px;
		}

			.page .aside .app-info li strong {
				display: block;
				clear: both;
				font-family: 'TradeGothic', sans-serif, Arial;
				font-size: 18px;
				font-weight: 300;
				line-height: 22px;
				

			}



	.page .section {
		display: inline-block;
		vertical-align: top;
		width: 728px;
	}

		.page .section > h2 {
			font-size: 24px;
			padding-bottom: 10px;
		}

		.page .section h3 {
			font-size: 25px;
			line-height: 24px;
			height: 24px;
			font-weight: 300;
			color: #195695;
			position: absolute;
			left: 15px;
			background: white;
			padding: 0 15px;
			padding: .1em .7em;
			top: 2px;
			box-shadow: 0 -5px 8px #bbb;
		}

			.page .section > div {
				position: relative;
				background-position: left bottom;
				overflow: hidden;
			}

			.page .section .description {
				margin-top: 12px;
				padding-bottom: 15px;
				padding: .5em 1.2em;
				line-height: 2em;
			}

				.page .section > .description > * {
					padding-bottom: 15px;
				}

				.page .section > .description li {
					line-height: 22px;
					list-style: disc;
					margin-left: 16px;
					text-indent: 8px;
				}

                .screenshots {
                    width: 100%;
                    text-align:center;
                    position: relative;
                    overflow: hidden;
        		}

                    .screenshots .screenshots-wrapper {
						overflow-x: auto;
                    }

                    .screenshots .screenshots-wrapper::-webkit-scrollbar {
					    width: 12px;
					}
					 
					/* Track */
					.screenshots .screenshots-wrapper::-webkit-scrollbar-track {
						
						background: #f1f1f1;
						border: 1px solid #ddd;
					    -webkit-border-radius: 10px;
					    border-radius: 0px;
					}
					 
					/* Handle */
					.screenshots .screenshots-wrapper::-webkit-scrollbar-thumb {
					    -webkit-border-radius: 0px;
					    border-radius: 0px;
					    background: #195695; 
					}
					.screenshots .screenshots-wrapper::-webkit-scrollbar-button  {
						border-right: 1px solid #FFF;
						color: #FFF;
						width: 15px;
					}

						.screenshots .screenshots-wrapper::-webkit-scrollbar-button:start  {
							background: #195695 url('../img/common/scroll-arrow-left.png');
							background-position: 0px 1px
						}


						.screenshots .screenshots-wrapper::-webkit-scrollbar-button:end  {
							background: #195695 url('../img/common/scroll-arrow-right.png');
							background-position: 0px 1px;
							border-left: 1px solid #FFF;
						}
					.screenshots .screenshots-wrapper::-webkit-scrollbar-thumb:window-inactive {
						background: rgba(255,0,0,0.4); 
					}
                                .screenshots-wrapper .scrollable {
                                    text-align: left;
                                    width: 800px;
                                    margin-bottom: 20px;
                                }

                                .screenshots .screenshots-wrapper .img-wrapper {
                                    display: inline-block;
                                    height: 330px;
                                    text-align: center;
                                    padding: 18px;
                                    box-shadow: 1px 1px 1px #CCC;
                                    border: 1px solid #e2e2e2;
                                    margin: 12px;
                                    overflow: hidden;
                                }

                                .screenshots .screenshots-wrapper .img-wrapper:first-of-type {
                                	margin-left: 230px;	
                                }

                                .ipad.portrait .screenshots .screenshots-wrapper .img-wrapper {
                                            width: 436px;
                                }

                                .screenshots .screenshots-wrapper  img {
                                	max-height: 390px;
                                	height: 300px;
                                	display: inline-block;
                                	margin-right: 18px;
                                }
                    .screenshots .bar {
                        display: inline-block;
						width: 95%;
						height: 8px;
						background: #FFF;
						bottom: 10px;
						left: 2.5%;
						background: #DDD;
						border-radius: 5px;
						border: 1px solid #ccc;
                    }

                    .screenshots .switchers {
						display: inline-block;
						width: 93px;
						height: 30px;
						background: #FFF;
						bottom: 10px;
						left: 2.5%;
						background: #DDD;
						border-radius: 5px;
						border: 1px solid #ccc;
						padding: 2px;
						margin: 15px 0px;
					}
						.screenshots .switchers a {
							display: inline-block;
							width: 45px;
							height: 30px;

						}

						.screenshots .switchers a.left {
							background: url('../img/common/btnLeftArrow.png');
						}

						.screenshots .switchers a.right {

							background: url('../img/common/btnRightArrow.png');
						}

					.screenshots .bar > .handle {
						width: 200px;
						height: 8px;
						background: url('../img/common/handle.png');
						border-radius: 8px;
					}

	#store-footer {
		display: none;
		width: 100%;
		height: 32px;
		background: url('../img/common/store-footer.png') repeat-x;
		position: fixed;
		bottom: 0px;
		text-align: center;
	}

		#store-footer div {
			display: inline-block;
			height: 20px;
			margin-top: 7px;
		}

			.gene #store-footer h1.logo {
				background: url('../img/common/gene-logo.png');
				width: 72px;
			}

			.roche #store-footer h1.logo {
				background: url('../img/common/roche-logo.png');
				width: 67px;
			}

.page .aside {
	margin-right: 12px;
}
.page .section .container, .page .aside .container {
	background: #FFF;
	padding: 18px;
	box-shadow: 1px 1px 1px #AFAFAF;
	margin-bottom: 14px;
	margin-right: 1px;
	color: #051f3b;
}

.page .section .container {
	margin-top: 15px;
}
/*LAYOUT WEB*/
.web #store-header .wrapper {
	display: inline-block;
	width: 1000px;
	position: relative;
}

.web .screenshots .switchers {
	/*display: none;*/
}
/*LAYOUT IPAD*/

.ipad #store-header {
	margin-bottom: 10px;
}

.ipad #banners {
	margin-bottom: 10px;
}

.ipad.landscape #store-header .wrapper {
	display: inline-block;
	width: 1000px;
	position: relative;
}

.ipad.landscape #page-wrapper {
	width: 1000px;
}

.ipad .screenshots .switchers {
	/*display: none;*/
}

.ipad.landscape .page {
	width: 1000px;
}

.ipad.portrait #store-header .wrapper {
	display: inline-block;
	width: 704px;
	position: relative;
}

.ipad.portrait #page-wrapper {
	width: 704px;
}

.ipad.portrait .page {
	width: 704px;
}


.ipad.portrait .page > .section {
	width: 464px;
}

.ipad.portrait .page .aside > .install-button {
	clear: both;
}

.ipad.portrait #large-banner {
	width: 537px;
	height: 202px;
}

.ipad.portrait #large-banner img {
	width: 537px;
	height: 202px;
}
.ipad.portrait #side-banner img {
	width: 167px;
	height: 67px;
}

.ipad.portrait .grid .apps > li {
	width: 208px;
	padding: 15px 10px 36px 15px;
}

.ipad.portrait .apps > li .content > h3 {
	width: 140px;
}

.ipad.portrait .grid .apps > li .install-button {
	bottom: 7px;
	left: 12px;
	top: auto;
	right: auto;
}
/*LAYOUT IPHONE*/

.iphone #store-header .btn-home {
	top: 6px;
	left: 6px;
}

.iphone.home #store-header .wrapper {
	background: none;
}
.iphone .top-bar-btn {
	background: url('../img/common/top-bar-btn-bg-iphone.png');
}
.iphone #store-header {
	background: url('../img/common/top-bar-bg-iphone.png');
	height: 44px;
}
.iphone #store-header .wrapper {
	width: 100%;
}

.iphone #store-header h1 {
	max-width: 220px;
}

	.iphone #store-header h1.logo {
		margin-top: 7px;
	}
.iphone #store-header .updates-btn {
	display: block;
	right: 10px;
	padding: 0px;
	width: 32px;
	padding-top: 2px;
	top: 6px;
}

	.iphone.updates  #store-header .updates-btn {
		right: 10px;
	}
	.iphone #store-header .updates-btn span {
		display: none;
	}

	.iphone #store-header .updates-btn div {
		border-left: none;
	}
	.iphone #store-header .updates-ico {
		width: 19px;
		height: 19px;
		background: url('../img/common/updates-ico.png');
		margin-top: 3px;
	}

	.iphone #apps-search .ico {

		left: 25px;
	}

.iphone #store-header .search-button {
	display: none;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 6px;
	left: 6px;
	border-radius: 4px;
	width: 32px;
	height: 30px;
}

	.iphone #store-header .search-button div {
		background: url('../img/common/icon-search.png') no-repeat;
		width: 13px;
		height: 12px;
		position: absolute;
		top: 10px;
		left: 10px;
	}

	.iphone.home #store-header  .search-button {
		display: block;
	}

.iphone #banners {
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
}

	.iphone #banners .markers {
		display: block;
		width: 100%;
	}

	.img-markers {
		display: block;
		width: 100%;
		text-align: center;
		margin: 15px 0px;
	}

	.iphone #banners .markers a, .img-markers a {
		display: inline-block;
		width: 8px;
		height: 8px;
		background: #7588ad;
		border-radius: 8px;
		margin: 1px;
		margin-right: 6px;
		-webkit-box-shadow: inset 0px 1px 1px #000;
		-moz-box-shadow: inset 0px 1px 1px #000;
		box-shadow: inset 0px 1px 1px #000;
	}

	.iphone #banners .markers a.active, .img-markers a.active {
		background: #2c4c7b;
	}
.iphone #large-banner {
	width: 100%;
	border-radius: 12px;
	text-align: center;
}

	.iphone #large-banner a {
		width: 100%;
		display: block;
		border-radius: 12px;
		overflow: hidden;
	}
	.iphone #large-banner img {
		display: block;
		margin: auto;
		width: 290px;
		height: 88px;
	}

.iphone #side-banner {
	display: none;
}

.iphone .apps > li {
	width: 300px;
}

.iphone .apps > li .install-button {
	top: 32px;
	right: 15px;
}

.iphone .search-results {
	display: none;
}

.iphone .bottom-nav {
	display: none;
}

.iphone #apps-sort-fake {
		left: 10px;
	}


.iphone .apps-wrapper {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.iphone .grid .apps {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.iphone .apps > li {
	border: none;
	border-bottom: 1px solid #CCC;
	padding: 3%;
	width: 94%;
}

	.iphone .apps > li:last-of-type {
		margin-bottom: 12px;
	}

	.iphone .grid .apps > li > .install-button {
		top: 32px;
	}

.iphone #page-wrapper, .iphone #page-wrapper .slider {
	width: 100%;
	padding: 0%;
	min-height: 400px;
}


	.iphone .page {
		width: 96%;
		padding: 2%;
	}

	.iphone #home.page, .iphone #updates.page {
		width: 100%;
		padding: 0;
	}

	.iphone .page .aside {
		display: block;
		width: 100%;
		clear: both;
		position: relative;
		overflow: hidden;
	}

		.iphone .page .aside > .img-wrap {
			float: left;
			margin-right: 20px;
			width: 120px;
			height: 120px;
			-webkit-box-shadow: 0px 0px 5px #666;
			-moz-box-shadow: 0px 0px 5px #666;
			box-shadow: 0px 0px 5px #666;
		}

			.iphone .page .aside > .img-wrap img {
				width: 120px;
				height: 120px;
			}

		.iphone .page .aside .app-info ul {
			padding: 0px;
		}
		.iphone .page .aside .install-button {
			position: absolute;
			left: 140px;
			top: 75px;
			width: 100px;
		}

	.iphone .page > .section {
		clear: both;
		display: block;
		width: 100%;
		margin-top: 25px;
	}

	.iphone .screenshots .bar {
		display: none;
	}

	.iphone .screenshots .switchers {
		display: inline-block;
	}

	.iphone.home #store-header .wrapper {
		height: 54px;
	}

	.iphohe.home #store-header .wrapper.quicksearch {
		text-align; center;
	}
	.iphone.home #store-header .wrapper.quicksearch > * {
		display: none;
	}

	.iphone.home #store-header .wrapper.quicksearch form {
		display: block;
	}

	.iphone.home #store-header .wrapper.quicksearch #apps-search {
		position: relative;
		display: inline-block;
		margin-top: 9px;
		width: 98%;
		top: 0px;
		right: 0px;
	}

	.iphone.home #store-header .wrapper.quicksearch #apps-search .clear-wrapper {
		position: absolute;
		width: 28px;
		height: 28px;
		right: 27%;
		border-radius: 28px;
	}

	.iphone .apps-nav-bar {
		border-radius: 0;
	}

	.iphone .top-nav #apps-search {
		display: none;
	}

		.iphone .top-nav .nav-button  {
			display: none;
		}

		.iphone.home #store-header #apps-search input {
			width: 50%;
			padding-left: 10%;
			padding-right: 10%;
		}

		.iphone.home #store-header #apps-search .install-button {
			display: inline-block;
			margin-left: 4%;
		}

body.updates #store-header a.updates-btn {
	display: none;
}

	.iphone #store-footer {
		display: block;
	}
