@import "reset.less";

/* appstore.less */

/* mixins */
.rounded-corners (@radius: 5px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-pie-border-radius: @radius;
	behavior: url(css/PIE.htc);
}
.rounded-corners-specific (@radiusTop: 5px, @radiusRight: 5px, @radiusBottom: 5px, @radiusLeft: 5px) {
	border-radius: @radiusTop @radiusRight @radiusBottom @radiusLeft;
	-webkit-border-radius: @radiusTop @radiusRight @radiusBottom @radiusLeft;
	-moz-border-radius: @radiusTop @radiusRight @radiusBottom @radiusLeft;
	-pie-border-radius: @radiusTop @radiusRight @radiusBottom @radiusLeft;
	behavior: url(css/PIE.htc);
}
.background-gradient (@bottomColor: #3a3a3a, @topColor: #434343) {
	background-color: @bottomColor;
	background-image: linear-gradient(bottom, @bottomColor 50%, @topColor 50%);
	background-image: -o-linear-gradient(bottom, @bottomColor 50%, @topColor 50%);
	background-image: -moz-linear-gradient(bottom, @bottomColor 50%, @topColor 50%);
	background-image: -webkit-linear-gradient(bottom, @bottomColor 50%, @topColor 50%);
	background-image: -ms-linear-gradient(bottom, @bottomColor 50%, @topColor 50%);
	-pie-background: linear-gradient(bottom, @bottomColor 50%, @topColor 50%);
	behavior: url(css/PIE.htc);
}
.background-gradient-specific (@pos: bottom, @bottomColor: #3a3a3a, @bottomPercent: 50%, @topColor: #434343, @topPercent: 50%) {
	background-color: @bottomColor;
	background-image: linear-gradient(@pos, @bottomColor @bottomPercent, @topColor @topPercent);
	background-image: -o-linear-gradient(@pos, @bottomColor @bottomPercent, @topColor @topPercent);
	background-image: -moz-linear-gradient(@pos, @bottomColor @bottomPercent, @topColor @topPercent);
	background-image: -webkit-linear-gradient(@pos, @bottomColor @bottomPercent, @topColor @topPercent);
	background-image: -ms-linear-gradient(@pos, @bottomColor @bottomPercent, @topColor @topPercent);
	-pie-background: linear-gradient(@pos, @bottomColor @bottomPercent, @topColor @topPercent);
	behavior: url(css/PIE.htc);
}
.box-shadow (@leftOffset: 0px, @rightOffset: 0px, @width: 5px, @color: #888) {
	-moz-box-shadow: @leftOffset @rightOffset @width @color;
	-webkit-box-shadow: @leftOffset @rightOffset @width @color;
	-pie-box-shadow: @leftOffset @rightOffset @width @color;
	box-shadow: @leftOffset @rightOffset @width @color;
	behavior: url(css/PIE.htc);
}
.box-shadow-inset (@leftOffset: 0px, @rightOffset: 0px, @width: 5px, @color: #666) {
	-moz-box-shadow: inset @leftOffset @rightOffset @width @color;
	-webkit-box-shadow: inset @leftOffset @rightOffset @width @color;
	-pie-box-shadow: inset @leftOffset @rightOffset @width @color;
	box-shadow: inset @leftOffset @rightOffset @width @color;
	behavior: url(css/PIE.htc);
}
.fade (@property: opacity, @duration: .5s, @ease: ease-out) {
	-webkit-transition: @property @duration @ease;
	-moz-transition: @property @duration @ease;
	-o-transition: @property @duration @ease;
	-ms-transition: @property @duration @ease;
	transition: @property @duration @ease;
}
.opacity (@opacity: 100) {
  filter: e(%("alpha(opacity=%d)", @opacity));
  -khtml-opacity: @opacity / 100;
    -moz-opacity: @opacity / 100;
         opacity: @opacity / 100;
}

/* vars */
@portraitWidth: 700px;
@landscapeWidth: 960px;

.hidden {
	display: none;
}
body {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #666;
	margin-bottom: 25px;
	position: relative;
}
body.ipad, body.web {
	background: #eee;
}

#store-header {
	background: #000 url('../img/top_banner.png') top left repeat-x;
	height: 49px;
	padding-top: 5px;
	margin-bottom: 20px;
	text-align: center;
	font-family:'Helvetica Neue',Helvetica,sans-serif;
	font-weight:bold;
	font-size:18px;
	color:#fff;
	text-shadow:#3c3d3e 0 -1px 0;
	position: relative;
	h1 {
		padding-top: 5px;
		font-weight: bold;
		margin: 0px 41px 0px 50px;
		overflow: hidden;
		padding-bottom: 4px;
		word-wrap: nowrap;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
    .header-title {
    	width: 100%;
        overflow: hidden;
        height: 35px
        }
	.header-left{
		position: absolute;
		left: 0;
		top: 0;
	}
	.header-right {
		position: absolute;
		right: 8px;
		top: 6px;
	}
	.btn-home {
		display: block;
		width: 60px;
		height: 30px;
		padding: 5px;
		position: relative;
		-webkit-tap-highlight-color: rgba(0,0,0,0);

		.icon-home {
			height: 30px;
			width: 10px;
			display: block;
			float: left;
			padding-right: 10px;
			padding-top: 3px;
			position: relative;
		}
		.icon-home:first-child{
			padding-left: 10px;
			padding-right: 0px;
			width: 40px;
		}
		img {
			position: absolute;
			top: 9px;
			left: 17px;
			z-index: 10;
		}
	}
}
#container {
	position: relative;
	margin: 0;
	padding: 0;
}
.web #container, .ipad #container {
	padding: 0 28px;
}
.web #home{
	padding: 30px;
}

.in-transition {
	width: 100%;
    position: 'absolute';
    top: 0;
}
.pill {
	padding: 5px 10px;
	margin-top: 5px;
	.rounded-corners(10px);
	text-decoration: none;
	font-weight: bold;
	z-index: 100;
	color: #B1B1B1;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	font-size: 80%;
	&.active {
		color: #fff;
		.background-gradient(#5a5a5a, #727272);
		z-index: 10000;
		position: relative;

		* {
			z-index: 10001;
		}
	}
}
.apps-sort {
	z-index: 10000;
	position: relative;
}
.apps-sort a.active {
	color: #fff;
	.background-gradient(#5a5a5a, #727272);
	z-index: 10000;
	position: relative;

	* {
		z-index: 10001;
	}
}

.app-action {
	color: #000;
	&.install {
		color: #fff;
	}
	&.reinstall {
		color: #eee;
	}
}
.web .tooltip, .ipad .tooltip {
	background: #666;
	left: -50px;
	max-height: 250px;
	position: absolute;
	z-index: 500;
	padding: 10px;
	.rounded-corners;
	border: 1px solid #000;
}
.iphone .tooltip {
	width: 100%;
	background: #fff;
	z-index: 10px;
	.opacity(100)
}
.tooltip h3 {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
#quickfind {
	position: relative;
	z-index: 10000;
}
.quick-find {
	color: #eee;
	position: absolute;
}
.quickfind-item {
	&:active, &.selected, &:hover {
		.background-gradient;
		color: #fff;
	}
}
.input-wrapper {
	position: absolute;
}
.search-wrapper {
	position: absolute;
	right: 58px;
	top: 7px;
}
.iphone .search-cancel {
	width: 70px;
	text-transform: uppercase;
	font-size: 12px;
	float: right;
	&.pill {
		padding: 9px 0;
		margin: 0 0 0 15px;
	}
}
.iphone #mag-glass {
	position: absolute;
	top: 5px;
	right: 20px;
	background: #eee;
	.rounded-corners;
	padding: 2px;
}
.iphone .search-wrapper form {
	.background-gradient;
	padding: 10px;
	height: 30px;
}
.iphone .search-wrapper .screen {
	background: #000;
	height: 2000px;
	.opacity(50);
	z-index: 0;
	width: 100%;
	//top: 35px;
	position: relative;
}
.search-wrapper input {
	.rounded-corners;
	outline: none;
	border: 0;
	padding: 4px 18px 4px 30px;
	width: 106px;
	background: #fff url(../img/mag-glass.png) left center no-repeat;
}
.iphone .search-wrapper {
        position: absolute;
        top: 40px;
        left: 0px;
        z-index: 500;
        width: 100%;
}
.iphone #search {
	outline: none;
	float: left;
}
.iphone.landscape .input-wrapper{
	width: 320px;
}
.iphone.landscape  #search {
	width: 320px;
}
.portait .input-wrapper, .portrait #search {
	width: 175px;
}
.search-clear {
	color: #f00;
	width: 17px;
	height: 22px;
	padding-top: 1px;
	padding-left: 9px;
	display: none;
	position: absolute;
	right: -2px;
	top: -2px;
	font-size: 20px;
	text-shadow: none;
	z-index: 1000;
	cursor: pointer;
}
.iphone .search-clear {
	top: 5px;
	right: 5px;
}

.web #search-results, .ipad #search-results {
	margin-top: 10px;
	max-height: 200px;
	overflow-x: hidden;
	z-index: 10;
	display: block;
	width: 250px;
	background: #fff;
	.rounded-corners;
	a {
		text-decoration: none;
		font-weight: bold;
		display: block;
		clear: both;
		float: left;
		width: 100%;
	}
	a:active {
		.background-gradient;
		outline: none;
		span {
			color: #fff;
		}
	}
}

.ipad .results-wrapper {
	position: relative;
	#scrollable {
		overflow: hidden;
	}
	#scrollbar {
		display: none;
		position: absolute;
		top: 0px;
		right: 0px;
		width: 10px;
		height: 200px;
		background: #CECDCD;
		z-index: 90;
		border-radius: 0px 2px 2px 0px;

		#handle {
			width: 5px;
			height: 30px;
			background: #686868;
			position: absolute;
			z-index: 99;
			top: 0px;
			left: 3px;
			border-radius: 3px;
		}
	}
}

.iphone #search-results {
	width: 100%;
	text-align: left;
	a {
		text-decoration: none;
		font-weight: bold;
	}

}
.web .result-item, .ipad .result-item {
        color: #000;
        font-size: 16px;
        font-weight: bold;
        clear: both;
        border-bottom: 1px solid #eee;
        &.no-results {
            span {
                text-align: center;
                width: 100%;
                font-weight: 100;
                margin: 7px 0px 5px 0px;
            }
         }
	.result-img-wrap {
		.rounded-corners;
		overflow: hidden;
		margin: 5px 10px 5px 5px;
		float: left;
		height: 25px;
	}
	/*img {
		padding: 5px 10px 5px 5px;
		float: left;
		.rounded-corners;
	}*/
	span {
		margin-top: 8px;
		float: left;
	}
}
.iphone .result-item {
	color: #666;
	text-shadow: none;
	padding: 10px;
	border-bottom: 1px solid #eee;
	z-index: 100000;
	display: block;
	.result-img-wrap {
		.rounded-corners;
		overflow: hidden;
		margin: 0 10px 5px 5px;
		float: left;
		height: 25px;
	}
	/*img {
		padding: 0 10px 5px 5px;
		float: left;
	}*/
	span {
		padding-top: 3px;
		display: block;
	}
}
/* non-phone landing page*/

/* phone landing page */

/* non-phone detail page */
.product-name {

}

/* Banner */
.web.portrait #banners,
.ipad.portrait #banners {
	width: @portraitWidth;
}
.web.landscape #banners,
.ipad.landscape #banners {
	width: @landscapeWidth;
}
.web #banners, .ipad #banners {
	//max-width: 960px;
	//min-width: 646px;
	//width: 961px;
	height: 275px;
	background: #fff;
	display: block;
	overflow: hidden;
	margin: 0 auto 20px auto;
	position: relative;
	.rounded-corners(15px);
}
.iphone #banners {
	width: 312px;
	margin: 0px auto;
	height: 105px;
	padding-bottom: 30px;
	overflow: hidden;
	position: relative;
	.rounded-corners;

	.slide-wrapper {
		display: block;
		height: 100px;
	}

	.markers {
		position: relative;
	}

	.banner-normal {
		position: absolute;
		top: 0;
	}
}
.fade-out{
	.fade;
	.opacity(0);
}
.fade-in{
	.fade;
	.opacity(100);
}
#banner-large {
	width: 733px;
	height: 275px;
	//display: block;
	//float: left;
	background: #efefef;
	position: relative;
	.rounded-corners(15px);

	.banner-large {
		position: absolute;
		top: 0;
		left: 0;
	}
}
#banner-sidebar{
	background: #efefef;
	width: 228px;
	height: 275px;
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	margin: 0;

	img {
		margin: 0;
		padding: 0;
	}

	a {
		float: left;
		outline: none;
		overflow: hidden;
	}

	.banner-sidebar{
		margin: 0;
		padding: 0;
		float: left;
		clear: both;
	}
}

.markers {
	margin: 0 auto;
	display: block;
	clear: both;
	text-align: center;
	z-index: 99;

	.marker-wrapper {
		display: inline-block !important;
		margin: 0 auto;
	}

	.marker {
		width: 8px;
		height: 8px;
		//display: inline-block;
		float: left;
		position: relative;
		margin-right: 10px;
		background: #666;

		.rounded-corners(8px);

		&.active {
			background: #fff;
		}
	}
}
.iphone .marker.active {
	background: #000;
}

.ipad #home .markers {
	top: -24px;
	position: relative;

	.marker {
		background-color: #666;
	}
	.active {
		background-color: #fff;
	}
}
.ipad #app-detail .markers {
	bottom: -24px;
	position: relative;

	.marker {
		background: #eee;
	}
	.active {
		background-color: #000;
	}
}

.web .markers {
	margin-top: -25px;
	position: relative;
	max-width: 966px;
	min-width: 644px;
}
.iphone .marker {
	.box-shadow-inset(0,2px,2px,#888);
	background: #fff;

	&.active {
		background: #ccc;
	}
}
.web .app-item, .ipad .app-item {
	/* background: #D0D0D0; */
	//display: block;
	//float: left;
	width: 294px;
	height: 80px;
	padding: 25px 10px 10px 15px;
	position: absolute;
	z-index: 1;
	border-right: 1px solid #A8A8A8;
	border-top: 1px solid #A8A8A8;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;

	.app-thumb {
		float: left;
		display: block;
		width: 57px;
		height: 57px;
		margin-right: 10px;
		.box-shadow;
		.rounded-corners(9px);
		overflow: hidden;
		img {
			behavior: url(css/iepngfix.htc);
		}
	}

	.app-desc {
		margin-left: 70px;
		ul {
			overflow: hidden;
			.app-name {
				display: block;
				height: 1em;
				overflow: hidden;
				text-overflow: ellipsis;
				word-wrap: break-word;
				white-space: nowrap;
			}
		}
	}

	.app-install {
		position: absolute;
		top: 50px;
		right: 20px;
		padding: 5px 10px;
		.rounded-corners(4px);
		text-transform: uppercase;
		.box-shadow-inset;
		text-shadow:#3c3d3e 0 -1px 0;
		a {
			text-decoration: none;
			color: #fff;
			font-weight: bold;
		}
	}
	.app-info:hover {
		cursor: pointer;
	}
	.app-name {
		font-size: 12px;
		font-weight: bold;
		padding-bottom: 2px;
	}

	.app-version, .app-modified {
		font-size: 10px;
		padding: 3px 0;
	}
}

.apps-view {
	.app-install {
		.background-gradient-specific(bottom, #5f5f5f, 20%, #8e8e8e, 60%);
	}
}
.detail-left {
	.app-install {
		.background-gradient(#66bb59, #8bb981);
	}
}

.iphone .app-item {
	background: #fff;
	width: 100%;
	border-bottom: 1px solid #eee;
	padding: 10px 0;
	font-weight: bold;
	clear: both;
	display: block;
	height: 30px;
	//float: left;
	position: relative;
	text-decoration: none;
	color: #333;
	-webkit-tap-highlight-color: rgba(0,0,0,0.6);

	img {
		.rounded-corners(11px);
	}
	.app-info {
		font-size: 16px;
                width: 100%;
                overflow: hidden;

		span {
			padding-top: 5px;
			display: block;
			margin: 0px 4px 0px 50px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			padding-bottom: 3px;
			height: 0.9em;
		}
	}
	.app-thumb {
		margin: 0 10px 0 10px;
		float: left;
		.box-shadow;
		.rounded-corners(5px);
		overflow: hidden;
	}
	.app-name {
		font-size: 14px;
		font-weight: bold;
	}
	li {
		padding-bottom: 5px;
		font-weight: bold;
	}
	/*&:active, &.selected, &:hover {
		.background-gradient;
		color: #fff;
	}*/
	&.selected{
		.background-gradient;
		color: #fff;
	}
	.app-install {
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		padding: 0 10px 5px 10px;
		background: #ddd;
		.box-shadow-inset;
		.rounded-corners(4px);
		text-transform: uppercase;
		.background-gradient(#66bb59, #8bb981);
		text-shadow:#3c3d3e 0 -1px 0;
		a {
			text-decoration: none;
			color: #fff;
			font-weight: bold;
			font-size: 12px;
		}
	}
}

.apps-mask {
	//need to convert this to all browsers
	-webkit-box-shadow: inset 1px 1px 10px #666;
}

.landscape .apps-mask,
.landscape .apps-frame,
.landscape .apps-nav,
.landscape .apps-footer {
	width: @landscapeWidth;
}
.portrait .apps-mask,
.portrait .apps-frame,
.portrait .apps-nav,
.portrait .apps-footer {
	width: @portraitWidth;
}
.apps-mask, .apps-frame{
	height: 234px;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
.apps-frame {
	float: left;
	background: #ccc;
}
.web .apps-container,
.ipad .apps-container {
	position: absolute;
	top: 0;
	left: 0;
	/* should be enough */
	width: 20000px;
}
.apps-nav {
	//max-width: 966px;
	//min-width: 644px;
	height: 30px;
	display: block;
	//overflow: hidden;
	margin: 0 auto;
	padding: 3px 0;
	background: #666;
	//border-top-left-radius: 10px;
	//border-top-right-radius: 10px;
	.background-gradient;
	position: relative;
	.rounded-corners-specific(10px, 10px, 0, 0);
}
.apps-footer {
	max-width: 966px;
	min-width: 644px;
	height: 30px;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	padding: 3px 0;
	background: #666;
	.rounded-corners-specific(0,0,10px,10px);
	.background-gradient;
	position: relative;
}
.apps-previous{
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding: 3px 15px;
	height: 28px;
	border-right: 1px solid #333;

	&.disabled img{
		.opacity(0);
	}
}
.apps-next{
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	z-index: 100;
	text-decoration: none;
	font-size: 18px;
	padding: 3px 15px;
	height: 28px;
	border-left: 1px solid #333;

	&.disabled img{
		.opacity(0);
	}
}
#sort-form {
	position: relative;
}
#sort-select {
	font-family:'Helvetica Neue',Helvetica, sans-serif;
	position: absolute;
	top: 5px;
	left: 50px;
	.opacity(0);
	font-size:13px;
	width: 172px;
	padding:6px 0 6px 10px;
}
#sort-fake {
	top: 2px;
	left: 50px;
	color:#999;
	position: absolute;
	padding:6px 0 6px 10px;
	background: url(../img/arrow.gif) 155px 11px no-repeat;
	//.background-gradient(#232323, #282828);
	background-color: #232323;
	border:1px solid #111;
	.rounded-corners(7px);
	font-weight: bold;
	width: 160px;
	&.active {
		color: #fff;
	}
}
.sort-list {
	margin-top: 9px;
	margin-left: 40px;
	li {
		display: block;
		float: left;
		margin-right: 10px;
		margin-left:10px;
	}
}
.web.landscape #app-detail {
	width: @landscapeWidth + 10;
}
.web.portrait #app-detail {
	width: @portraitWidth + 10;
}
.landscape .detail-right {
	width: 726px;
}
.portrait .detail-right {
	width: 400px;
}
.web #app-detail, .ipad #app-detail {
	margin: 0 auto;
	padding: 30px;
	display: block;

	em {
		font-weight: bold;
	}
	.detail-left {
		display: table-cell;
		float: left;
		width: 205px;
		padding: 0 35px 0 0;
		ul {
			clear: both;
			margin: 10px 0;
		}
		.app-icon-large{
			.box-shadow;
			.rounded-corners-specific(32px, 32px, 32px, 32px);
			overflow: hidden;
		}
	}
	.detail-right {
		//max-width: 726px;
		//min-width: 400px;
		float: left;
		display: block;
		ul {
			list-style: disc;
			padding: 15px 0;
		}
		li {
			margin-left: 15px;
			padding: 5px 0;
		}
	}
	h2 {
		font-size: 24px;
		padding-bottom: 10px;
	}
	h3 {
		font-size: 22px;
		font-weight: bold;
		padding-bottom: 10px;
	}
	.detail-desc{
		font-size: 16px;
		line-height: 18px;
	}
	.app-install {
		color: #fff;
		padding: 5px 10px;
		margin: 15px 0 20px 10px;
		background: #ddd;
		float: left;
		clear: both;
		.box-shadow-inset;
		.rounded-corners(4px);
		text-transform: uppercase;
		.background-gradient(#66bb59, #8bb981);
		a {
			text-decoration: none;
			color: #fff;
			font-weight: bold;
		}
	}
}
.ipad.landscape .detail-right{
	width: 600px;
}
.ipad.portrait .detail-right{
	width: 400px;
}
.iphone .apps-container {
	display: block;
	margin: 10px 0 0 0;
}
.iphone .app-category{
	display: block;
	height: 30px;
	.background-gradient;
	padding: 14px 0 0px 20px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}
.iphone #app-detail {
	margin: 0px auto;
	padding: 10px;
	position: relative;

	.detail-top {
		//padding: 20px 0;
	}
	.detail-bottom {
		padding: 20px 0;
		clear: both;
	}
	.detail-thumb {
		float: left;
		margin-right: 10px;
		margin-bottom: 15px;
		height: 57px;
		padding: 0px;
		.box-shadow;
		.rounded-corners(9px);
		overflow: hidden;
	}
	.app-install {
		position: absolute;
		right: 10px;
		top: 25px;
		color: #fff;
		padding: 5px 10px;
		background: #ddd;
		.box-shadow-inset;
		.rounded-corners(4px);
		text-transform: uppercase;
		.background-gradient(#66bb59, #8bb981);
		a {
			text-decoration: none;
			color: #fff;
			font-weight: bold;
		}
	}
	.detail-desc h2 {
		font-size: 18px;
		color: #212121;
		font-weight: bold;
		padding-top: 18px;
		width: 50%;
        overflow: hidden;
        margin-left: 70px;
        word-wrap: break-word;
        height: 2.2em;
        text-overflow: ellipsis;
	}
	.detail-desc em {
		font-weight: bold;
	}
	.detail-desc ul {
		clear: left;
		padding: 5px 0;
	}
}

// ImageSlider
.image-slider {
	width: auto;
	height: 390px;
	overflow: hidden;
	position: relative;
	.rounded-corners;
	//.box-shadow-inset;
	background: #666;

	.slide {
		width: 0px;
		position: relative;
		top: 25px;
		height: 390px;
	}
	.slider-item {
		float: left;
		display: block;
		margin-right: 300px;
		width: auto;
		height: auto;
		/*img {
			max-width: 460px;
			max-height: 345px;
		}*/
	}
	.slider-controls {
		position: absolute;
		width: 90px;
		left: 50%;
		top: 100%;
		margin: -35px 0 0 -45px;
	}
	.slider-left, .slider-right{
		display: block;
		float: left;
		z-index: 10;
		width: 45px;
		height: 30px;
	}
}
.web .image-slider{
	padding-bottom: 20px;
	.slide {
		overflow: hidden;
	}
	.slider-controls {
		margin: -35px 0 0 -45px;
	}
	#scrollbar-wrapper {
		margin: 1%;
		width: 98%;
		background: #777;
		position: absolute;
		top: 380px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}
	#scrollbar {

	}
	.ui-slider-horizontal {
		width: 68%;
		height: 11px;
		position: relative;
		text-align: left;

	}
	.ui-slider-handle {
		width: 230px;
		height: 11px;
		background: #888;
		position: absolute;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		cursor: default;
	}
	.ui-slider-handle:hover {
		background: #999;
	}
	.slider-item {
		margin-right: 50px;
	}
}
.iphone .slider-item {
	margin-right: 300px;
	margin-top: 10px;
}
.iphone #banners {
	position: relative;
	padding-bottom: 10px;
}
.iphone .slide {
	width: 100000px;
	position: relative;
	top: 0;
	-webkit-transform: translate3d(0,0,0);

}
.iphone .image-slider {
	background-color: #fff;
}

.ipad .slide {
	width: 1000000px;
}

#overlay {
	.screen {
		background: #000;
		.opacity(60);
	}
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;

	.overlay-wrapper {
		width: 450px;
		height: 460px;
		background: #fff;
		position: absolute;
		padding: 10px;
		border: 10px solid rgba(0, 0, 0, 0.8);
		.rounded-corners;
	}

	p {
		padding: 5px 0;
	}

	footer {
		position: absolute;
		bottom: 20px;
		height: 20px;
		width: 450px;
		border-top: 1px solid #eee;
	}

	li {
		padding: 3px 0;
	}

	.overlay-close {
		position: absolute;
		right: 10px;
		top: 10px;
	}

	.overlay-column {
		display:block;
		float: left;
		padding: 10px;
		margin-right: 8px;
		width: 197px;
	}
}

.ipad #update-bar, .web #update-bar {
	max-width: 966px;
	min-width: 644px;
	.rounded-corners(11px);
}
#update-bar {
	height: 30px;
	display: block;
	margin: 0 auto 20px auto;
	padding: 3px 0;
	background: #666;
	.background-gradient;
	position: relative;

	#update-status {
		color: #fff;
		padding-top: 5px;
		padding-left: 10px;
		font-size: 14px;
		font-weight: bold;
		span {
			color: #ffc000;
		}
	}

	#update-more {
		position: absolute;
		right: 10px;
		top: 12px;
	}
}
.iphone #update-bar {
	width: 100%;
}

/* strange omniture behavior */
img[name="s_i_geneappstore"], img[name="s_i_geneappstoreroche"] {
	display: none;
	height: 0 !important;
	width: 0 !important;
	position: absolute !important;
	overflow: hidden !important;
}

