<h2><%= APP_NAME %></h2>
<p><%= APP_TAGS %></p>
<div class="aside">
	<div class="container">
		<div class="img-wrap">
			<img src="<%= APP_ICON_LARGE %>" alt="App Name"/>
		</div>
		<div class="geneonly-text">GENE ONLY</div>
		<a href="<%= APP_INSTALL_URL %>" class="install-button reinstall-button">loading...</a>
	</div>
	<div class="container">
		<ul class="app-info">
			<ul>
				<li><strong>Category:</strong> <%= APP_TAGS %></li>
			</ul>
			<ul>
				<li><strong>Last updated:</strong> <%= FORMATTED_DATE %></li>
			</ul>
			<ul>
				<li><strong>Created by:</strong> <%= APP_OWNER %></li>
				<li><strong>&#169;Genentech 2012</strong></li>
			</ul>
		</ul>
	</div>
</div>
<div id="app-details" class="section">
	<div>
		<h3>Description</h3>
		<div class="container">
			<p class="description">
				<%= APP_DESCRIPTION %>
			</p>
		</div>
	</div>
</div>
