<div class="arrows">
	<a class="prev-arrow">
	</a>
	<a class="next-arrow">
	</a>
</div>
<div class="top-nav apps-nav-bar">
	
	<div id="apps-sort-fake" class="top-nav-btn">
		<div class="arrow"></div>
		<span>All</span>
		<form id="apps-sort">
			<select>
			</select>
		</form>
	</div>
</div>
<div class="apps-wrapper">
	<ul class="apps">
		<!-- Apps here -->
	</ul>
</div>
<div class="bottom-nav apps-nav-bar">
	<div class="wrapper">
		<a class="nav-button left-nav-button disabled">
		</a>
		<div id="markers">

		</div>
		<a class="nav-button right-nav-button">
		</a>
	</div>
</div>

