<div class="img-wrap">
	<img src="<%= ICON_URL %>" alt="App Name"/>
</div>
<div class="content">
	<h3 title="<%=APP_NAME%>"><a href="#apps/<%=APP_NAME%>" ></a><%=APP_NAME%></h3>
	<p><%= SHORT_DESCRIPTION %></p>
	<span class="geneonly-text">GENE ONLY</span>
</div>
<a href="<%= APP_INSTALL_URL %>" class="install-button reinstall-button">
	Loading...
</a>

