<div class="screen">
</div>
<div class="box-wrapper">
	<div class="box">
		<h2>Installation</h2>
		<div class="content">
			<div class="instructions">
				<h3><span>1.</span><p>In Gmail, go to Settings then the Labs tab. Find "Add any gadget by URL" and make sure its enabled, then press Save Changes.</p></h3>
				<img src="img/instructions/1step.png" alt="First step"/>
				<h3><span>2.</span><p>Still in Settings in Gmail, go to the Gadgets tab. Copy and paste the following URL into the "Add a gadget by its URL" field. Press Add.</p></h3>
				<form>
				</form>
				<img src="img/instructions/2step.png" alt="Second step"/>
			</div>
			<div class="footer">
				<a>Close</a>
			</div>
		</div>
	</div>
</div>

