<div class="screen">
</div>
<div class="box-wrapper">
	<div class="box">
		<h2>Installation</h2>
		<div class="content">
			<div class="option">
				<h3>Genentech Google Account</h3>
				<a href="#" class="gene download install-button">install</a>
			</div>
			<div class="option">
				<h3>Roche Google Account</h3>
				<a href="#" class="roche download install-button">install</a>
			</div>
			<div class="footer">
				<a>Close</a>
			</div>
		</div>
	</div>
</div>

